.result-row {
  border-top: 1px solid rgba(255, 255, 255, 0.521);
  padding-top: 1.4rem;
}

.anime-image {
  background-color: blueviolet;
}
.anime-image img {
  width: 6rem !important;
  height: 7.2rem !important;
}
.anime-name {
  padding: 0.5rem;
  font-size: 17px;
  font-weight: 600;
  font-family: "Vollkorn", serif;
  width: 96%;
}

.la-arrow-right {
  font-size: 50px;
  color: rgb(186, 75, 198);
  font-weight: 600;
}

.la-heart {
  font-size: 30px;
  color: red;
}

.la-arrow-right:hover {
  color: rgb(107, 18, 174);
}

.errorDiv {
  height: 80vh;
  background-color: rgba(255, 0, 0, 0.436);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
